<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76736055451-gn72tnn7u7i5fnhp0d9j4e61jjt0gi0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76736055451-gn72tnn7u7i5fnhp0d9j4e61jjt0gi0p</string>
	<key>API_KEY</key>
	<string>AIzaSyCogu8ukDb0HR0hBqD_i_YVxXOodu0trXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>76736055451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.climbingGymApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-31e18</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-31e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76736055451:ios:2e9c2d7463ca8ac87d1e3e</string>
</dict>
</plist>