<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555985618712-q6kdemrj5dvp8br3s0196mg41e6a84nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555985618712-q6kdemrj5dvp8br3s0196mg41e6a84nm</string>
	<key>API_KEY</key>
	<string>AIzaSyAQSYS_VXWyd_9m-46c8MVJ2hzXVER0Ajw</string>
	<key>GCM_SENDER_ID</key>
	<string>555985618712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.polytalon.polyappdev</string>
	<key>PROJECT_ID</key>
	<string>polyapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>polyapp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555985618712:ios:8717a8c049667d836c806d</string>
</dict>
</plist>